<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => 'btn-success disabled' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthday, :class => 'btn-success disabled' %><br>
    <%= f.date_select :birthday, :start_year => 1950 %>
  </div>
  <div class="field">
    <%= f.label :bio, :class => 'btn-success disabled' %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :homewater, "Home Water", :class => 'btn-success disabled' %><br>
    <%= f.text_field :homewater %>
  </div>
  <div class="field">
    <%= f.label :twitter, :class => 'btn-success disabled' %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="actions">
    <%= link_to 'Back', :back, :class => 'btn btn-primary pull-right' %>
    <%= f.submit "Submit", :class => 'btn btn-primary pull-right' %>
  </div>
<% end %>
