<%= form_for(@fish) do |f| %>
  <% if @fish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fish.errors.count, "error") %> prohibited this fish from being saved:</h2>

      <ul>
      <% @fish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :species, :class => 'btn-success disabled' %><br>
    <%= f.select :species, ["Smallmouth Bass", "Largemouth Bass", "Rainbow Trout", "Brown Trout", "Salmon"], :class => 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :isprivate, "Private?", :class => 'btn-success disabled' %><br>
    <%= f.check_box :isprivate %>
  </div>
   <div class="field">
    <%= f.label :attachment, :class => 'btn-success disabled' %>
    <%= f.file_field :attachment %>
  </div>
  <div class="field">
    <%= f.label :size, :class => 'btn-success disabled' %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :latitude, :class => 'btn-success disabled' %><br>
    <%= f.text_field :latitude, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :longitude, :class => 'btn-success disabled' %><br>
    <%= f.text_field :longitude, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :caught, :class => 'btn-success disabled' %><br>
    <%= f.datetime_select :caught %>
  </div>
  <div class="field">
    <%= f.label :description, :class => 'btn-success disabled' %><br>
    <%= f.text_area :description, rows: 2 %>
  </div>
  <div class="actions">
    <%= link_to 'Back', :back, :class => 'btn btn-primary pull-right' %>
    <%= f.submit "Submit", :class => 'btn btn-primary pull-right' %> 
  </div>
<% end %>
